<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>ACME Home</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:text="${username}">Sistema ACME</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Manage Store <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="store/new">New Store</a></li>
                            <li><a href="store/all">Search Store</a></li>
                            <li><a href="store/append">Update Store</a></li>                           
                        </ul>
                    </li>  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Manage Order <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">New Order</a></li>
                            <li><a href="#">Search Order</a></li>
                            <li><a href="#">Update Order</a></li>                           
                        </ul>
                    </li>                    
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./">Logout <span class="sr-only">(current)</span></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    
    <div class="panel panel-primary">
    	<h4>&nbsp;ACME New Store</h4>
    </div>
    
    <div>
    	<p style="color:darkgreen" th:text="${message}"></p>
    </div>
    
    <div  class="row;panel panel-default">
   
   		<form method="get" action="add">
   		
	    <div  class="row">
	    	<div class="col-sm-2">Name:</div><div class="col-sm-6"><input required="required" type="text" name="name"/></div><div class="col-sm-4">&nbsp;</div>
	   </div>
	   <div  class="row">	   
	    	<div class="col-sm-2">Address:</div><div class="col-sm-6"><input required="required" type="text" name="address"/></div><div class="col-sm-4">&nbsp;</div>
	  </div>
	  <div  class="row">  	
	    	<div class="col-sm-2">&nbsp;</div><div class="col-sm-6"><button  class="btn btn-primary" onclick="submit">SAVE STORE</button></div><div class="col-sm-4">&nbsp;</div>
	    
	    </div>
	   
	   </form>
    </div>
   
</div> <!-- /container -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>